extends app.pug

block title 
    title Update client

block content
    h1 Update client
    form(action="", method='')
        .mb-3
            label.form-label(for='name') Name
            input#name.form-control(type='text' value=`${client.name}` required name='name' placeholder='Type your name')
        .mb-3
            label.form-label(for='email') E-mail
            input#email.form-control(type='text' value=`${client.email}` required name='email' placeholder='Type your e-mail')
        button(type='submit' value='submit').btn.btn-success Submit

